{% extends "base.html" %}
{% block title %}Reviews{% endblock %}


{% block content %}
    <style>
        .button {
            display: inline-block;
            padding: 8px 16px;
            background-color: #007bff;
            color: white !important;
            text-decoration: none;
            border-radius: 4px;
            border: none;
            cursor: pointer;
        }

        .button:hover {
            background-color: #0056b3;
        }
    </style>
    <h2>Reviews:</h2>
    {% for review in reviews %}
        <div class="review">
            <h3>{{review.title}} | {{review.score}}/10</h3>
            <h4>{{review.author}} {{review.publication_date|date:"d/m/Y"}}</h4>
            <p>{{review.content}}</p>
            <hr>
        </div>
    {% endfor %}
    <button onclick="window.location.href='{% url 'add_review' %}'"
            class="button">
        Read more
    </button>
{% endblock %}
