{% extends "base.html" %}
{% block title %}Reviews{% endblock %}
{% block content %}
<main>
    <section aria-labelledby="reviews-header">
        <h2 id="reviews-header">Reviews:</h2>
        <ol>
        {% for review in reviews %}
            <li itemscope itemtype="http://schema.org/Review" class="review">
                <article>
                    <header>
                        <h3 itemprop="name">{{ review.title }} | <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                            <span itemprop="ratingValue">{{ review.score }}</span>/10
                        </span></h3>
                        <h4>
                            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                                <span itemprop="name">{{ review.author }}</span>
                            </span> 
                            <time itemprop="datePublished" datetime="{{ review.publication_date|date:'Y-m-d' }}">
                                {{ review.publication_date|date:"d/m/Y" }}
                            </time>
                        </h4>
                    </header>
                    <section itemprop="reviewBody">
                        <p>{{ review.content }}</p>
                    </section>
                    {% if user.is_authenticated and user == review.author %}
                    <nav aria-label="Review actions">
                        <button onclick="location.href='{% url 'edit_review' review.pk %}'" class="button" type="button">
                            Edit Review
                        </button>
                        <button onclick="location.href='{% url 'delete_review' review.pk %}'" class="button" type="button">
                            Delete Review
                        </button>
                    </nav>
                    {% endif %}
                </article>
            </li>
        {% endfor %}
        </ol>
        <button onclick="location.href='{% url 'add_review' %}'" class="button" type="button">
            Leave a review
        </button>
    </section>
</main>
{% endblock %}
