{% extends "base.html" %}
{% block title %}Orders{% endblock %}

{% block content %}
    <h2>Your Orders, {{name}}</h2>
    {% for order in orders %}
        <div>
            {{ order.order_code }} - {{ order.get_status_display }} <br>
            (Total: ${{ order.total_amount }})
            {% if user.is_authenticated and user == order.client.user%}
                <button onclick="window.location.href='{% url 'order_edit' order.pk %}'"
                        class="button">
                    Edit Order
                </button>
                <button onclick="window.location.href='{% url 'order_delete' order.pk %}'"
                        class="button">
                        Delete Order
                </button>
            {% elif user.is_authenticated and user.is_superuser %}
                <button onclick="window.location.href='{% url 'order_edit' order.pk %}'"
                        class="button">
                    Edit Order
                </button>
                <button onclick="window.location.href='{% url 'order_delete' order.pk %}'"
                        class="button">
                        Delete Order
                </button>
            {% endif %}
            <hr>
        </div>
    {% empty %}
        <p>No orders found.</p>
    {% endfor %}
    <button onclick="window.location.href='{% url 'order_create' %}'"
            class="button">
            Order
    </button>

{% endblock %}
