{% extends "base.html" %}
{% block title %}{% if object %}Edit{% else %}Create{% endif %} Order{% endblock %}

{% block content %}
<div>
  <h2>{% if object %}Edit Order #{{ object.id }}{% else %}Create New Order{% endif %}</h2>
  <form method="post">
    {% csrf_token %}
    
  <div>
    {{ form.as_p }}
  </div>

      <div>
        <h5>Services</h5>
        {{ formset.management_form }}
        
        {% for form in formset %}
          <div>
            {{ form.as_p }}
            {% if not forloop.last %}<hr>{% endif %}
          </div>
        {% endfor %}
      </div>

    <div>
      <button type="submit" class="button">
        {% if object %}Update{% else %}Create{% endif %} Order
      </button>
    </div>
  </form>
</div>
<script>
document.querySelector('form').addEventListener('submit', function(e) {
    const serviceSelects = document.querySelectorAll('[name$="-service"]');
    let hasSelection = false;
    
    serviceSelects.forEach(select => {
        if (select.value !== '') {
            hasSelection = true;
        }
    });
    
    if (!hasSelection) {
        e.preventDefault();
        alert('Please select at least one service');
    }
});
</script>
{% endblock %}
