{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Your Profile</h1>
    
    <div >
        <div >
            <h5 >{{ client.name }}</h5>
            <p>
                <strong>Type:</strong> {{ client.get_client_type_display }}<br>
                {% if client.client_type == 'COMPANY' %}
                    <strong>Contact Person:</strong> {{ client.contact_person }}<br>
                {% endif %}
                <strong>Phone:</strong> {{ client.contact_number }}<br>
                <strong>Email:</strong> {{ client.email }}<br>
                <strong>Address:</strong> {{ client.address|default:"-" }}<br>
                <strong>Timezone:</strong> {{ client.timezone }}
            </p>
            <div>
                <form action="{% url 'client_edit' %}" method="get">
                  {% csrf_token %}
                  <button type="submit">Edit Profile</button>
                </form>
                <form action="{% url 'client_delete' %}" method="get">
                  {% csrf_token %}
                  <button type="submit">Delete Profile</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
