{% extends "base.html" %}
{% block content %}
<h1>Your Client Profile</h1>
<div>
    <h1>Your Profile</h1>
  <p><strong>Name:</strong> {{ client.name }}</p>
  <p><strong>Type:</strong> {{ client.get_client_type_display }}</p>
  {% if client.client_type == 'COMPANY' %}
    <p><strong>Contact Person:</strong> {{ client.contact_person }}</p>
  {% endif %}
  <p><strong>Contact Number:</strong> {{ client.contact_number }}</p>
  <p><strong>Email:</strong> {{ client.email }}</p>
  <p><strong>Address:</strong> {{ client.address|linebreaks }}</p>
            <div>
                <form action="{% url 'update_client' client.id %}" method="get">
                  {% csrf_token %}
                  <button type="submit">Edit Profile</button>
                </form>
                <form action="{% url 'delete_client' client.id %}" method="get">
                  {% csrf_token %}
                  <button type="submit">Delete Profile</button>
                </form>
            </div>
</div>
{% endblock %}
