{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="{% static 'css/certificate.css' %}" type="text/css" />
<title>Сертификат</title>
</head>
<body>

<div class="certificate">

  <div class="corner-decoration corner-top-left"></div>
  <div class="corner-decoration corner-top-right"></div>
  <div class="corner-decoration corner-bottom-left"></div>
  <div class="corner-decoration corner-bottom-right"></div>

  <div class="header-small">СЕРТИФИКАТ О ЧЛЕНСТВЕ В АССОЦИАЦИИ КЛИНИНГОВЫХ КОМПАНИЙ</div>

  <div class="main-title">ЕДИНЫЙ РЕЕСТР КЛИНИНГОВЫХ КОМПАНИЙ</div>
  <div class="subtitle">СВИДЕТЕЛЬСТВО</div>
  <div class="subsubtitle">о внесении сведений</div>

  <div class="location-date">
    <div>г. Москва</div>
    <div>10 октября 2025</div>
  </div>

  <div class="company-info">
    Общество с ограниченной ответственностью «Чистый Дом»
  </div>
  <div class="company-inn">ИНН 1234567890</div>
  <div class="registration-number">Реестровый номер: 98765</div>

  <div class="signature">
    <div>
      <div class="name">Иванов И.И.</div>
      <div>Директор Ассоциации «ЧИСТОТА»</div>
    </div>
  </div>

  <div class="footer">
    <img src="{% static 'images/cleaning.png' %}" alt="Логотип" class="footer-logo" />
    <div class="footer-text">
      Ассоциация «Объединение клининговых компаний» в сфере обслуживания и уборки помещений «ЧИСТОТА»<br>
      101000, г. Москва, ул. Примерная, д. 1<br>
      Тел.: +7 (495) 000-00-00<br>
      e-mail: info@cleanco.ru
    </div>
    <div class
