{% extends "base.html" %}
{% block title %}HELLO{% endblock %}


{% block content %}
    <style>
        .article_card a {
            text-decoration: none;
            color: #007bff;
        }
        .article_card a:hover {
            text-decoration: underline;
        }
        .button-style {
            display: inline-block;
            padding: 8px 16px;
            background-color: #007bff;
            color: white !important;
            text-decoration: none;
            border-radius: 4px;
            border: none;
            cursor: pointer;
        }

        .button-style:hover {
            background-color: #0056b3;
        }
    </style>
    <h1> YOUR IP IS {{ip}} :)</h1>
    <hr>
    {% for article in articles %}
        <div class="article_card">
            <h2> {{article.title}} </h2>
            <h3> By {{article.author}}, published on {{article.publication_date|date:"d/m/Y H:i"}}</h3>
            {{article.summary}} <br>
            <button onclick="window.location.href='{% url 'article' article.id %}'"
                    class="button-style">
                Read more
            </button>
            <hr>
        </div>
    {% endfor %}
{% endblock %}
