{% extends "base.html" %}
{% block title %}Service types{% endblock %}
{% block content %}
    <section aria-label="Service Types">
        <h2>Service types:</h2>
        {% for service_type in service_types %}
            <article class="service_type" aria-labelledby="service-name-{{ forloop.counter }}">
                <div class="service-header">
                    <h3 id="service-name-{{ forloop.counter }}">{{ service_type.name }}</h3>
                </div>
                <p>{{ service_type.description }}</p>
            </article>
        {% endfor %}
    </section>
{% endblock %}
