{% extends "base.html" %}
{% block title %}FAQ{% endblock %}


{% block content %}
    <h2> We are looking for a: </h2>
    <hr>
    {% for vacancy in vacancies %}
        <div class="vacancy">
            <h3>{{vacancy.job_title}} </h3>
            <p>
                {{vacancy.job_description}}<br>
                {% if vacancy.job_type %}
                    Service type: {{vacancy.job_type}}
                {% endif %}
            </p>
            <hr>
        </div>
    {% endfor %}
{% endblock %}
