{% extends "base.html" %}
{% block title %}vacancies{% endblock %}
{% block content %}
    <section aria-label="Job Vacancies">
    <h2>We are looking for a:</h2>
    <div class= "vacancy_page">
        {% for vacancy in vacancies %}
            <article class="vacancy" aria-labelledby="job-title-{{ forloop.counter }}">
                <div class="vacancy-header">
                    <h3 id="job-title-{{ forloop.counter }}">{{ vacancy.job_title }}</h3>
                </div>
                <section>
                    <p>{{ vacancy.job_description }}</p>
                    {% if vacancy.job_type %}
                        <p><strong>Service type:</strong> {{ vacancy.job_type }}</p>
                    {% endif %}
                </section>
            </article>
        {% endfor %}
    </div>
    </section>
{% endblock %}
