{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <h2>Sign Up</h2>
    <div>
      <h2>Create Account</h2>
      <form method="post">
        {% csrf_token %}
        
        <div>
          <h3>Account Information</h3>
          username: {{ form.username }} <br>
          first name: {{ form.first_name }} <br>
          last name: {{ form.last_name }}<br>
          email: {{ form.email }}<br>
          password: {{ form.password1 }}<br>
          password confirmation {{ form.password2 }}<br>
        </div>

        <div>
          <h3>Client Information</h3>
          contact name: {{ form.name }}<br>
          phone number: {{ form.contact_number }}<br>
          client type: {{ form.client_type }}<br>
        </div>

        <button type="submit">Sign up</button>
      </form>
    </div>

  <p><a href="{% url 'login' %}">Already have an account? Login</a></p>
{% endblock %}
