<!DOCTYPE html>
<html>
    <head>
        <title>Cleaning Service</title>
    </head>

    <body>
        <style>
            button {
                display: inline-block;
                padding: 8px 16px;
                background-color: #007bff;
                color: white !important;
                text-decoration: none;
                border-radius: 4px;
                border: none;
                cursor: pointer;
                margin: 8px 0px;
            }

            button:hover {
                background-color: #0056b3;
            }
        </style>
        {% block content %}{% endblock content %}
        {% if tz_info %}<p>Specified timezone: {{tz_info}}</p> {% endif %}
        {%if user.is_authenticated%}
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit">Logout</button>
            </form>
        {% else %}
            <form action="{% url 'login' %}" method="get">
              {% csrf_token %}
              <button type="submit">Log In</button>
            </form>
        {% endif %}
    </body>
</html>
